@page
@model IndexModel

@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Sistema de Carreras</h1>
    <p class="lead">Este es un sistema para gestionar carreras y alumnos.</p>
    <img src="~/imagenes/system.webp" alt="Imagen sistemas" />
</div>


